<h1>Music API</h1>
<%= link_to 'Don\'t know how to use API', controller: "search", action: "apindex"%>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:keyword, "Search for:") %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("Search") %>
  <% end %>

<% if @song_list.size != 0 %>
<table border="1">
  <tr>
	<th>Name</th>
	<th>Artist</th>
	<th>Provider</th>
	<th>Page</th>
	<th>Source mp3</th>
	<th>Play</th>
  </tr>
  <% @song_list.each do |song| %>
  <tr>
	<td><%= song.name %> </td>
	<td><%= song.artist %></td>
	<td><%= song.provider%></td>
	<td><%= link_to 'link', song.url_page %></td>
	<% if song.url_source == "#"%>
	<td> copyright protection</td>
	<% else %>
	<td><%= link_to 'link', song.url_source %></td>
	<% end %>
	
	<% if song.url_source != "#"%>
	<td>
	  <audio controls preload="none">
		<source src="<%= song.url_source%>" type="audio/mp3" />
		Your browser does not support the audio element
	  </audio> 
	</td>
	<% end %>
  </tr>
  <% end %>
</table>
<% end %>
